<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
		<a class="navbar-brand" href="{{ url('acceuil.index') }}">Voyagez avec nous</a>
		<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
			<li class="nav-item active">
				<a class="nav-link" href="{{ url('acceuil.index') }}">Acceuil</a>
			</li>

			<li class="nav-item active">
				<a class="nav-link" href="{{ url('articles.index') }}">Découvertes</a>
			</li>

			<li class="nav-item active">
				<a class="nav-link" href="{{ url('contact.bots') }}">Contact</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="{{ url('contact.index') }}">Contact (Form)</a>
			</li>
			<li class="nav-item active">
				
			</li>
			<li class="nav-item active">
				<a class="nav-link"href="{{ url('admin.article.form') }}">Publier un article</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="{{ url('articles.administrer') }}">Gérer les articles</a>
			</li>
		</ul>

	</div>
</nav>