{% extends 'base.html.twig' %}

{% block body %}

	<div class="row">
		<div class="col">
			<h1>Articles</h1>
		</div>
	</div>
	<div class="row">
		{% for article in results %}
			<div class="col-md-4">
    <div class="thumbnail">
      <a href="{{ url('articles.plus', { id: article.id }) }}">
        <img src="{{ asset('img/' ~ article.image) }}" alt="Lights" style="width:100%">
        <div class="caption">
            <p>{{ article.name }}</p>
			<p>
				<a href="{{ url('articles.plus', { id: article.id }) }}" class="btn btn-success">plus d'infos</a>

			</p>
        </div>
      </a>
    </div>
  </div>
		{% endfor %}
	</div>

{% endblock %}







