{% extends 'base.html.twig' %}

{% block body %}
	<div class="row">
		<div class="col">
			<h1>Gestion des articles</h1>
		</div>
	</div>
	<div class="row">
		<div class="col">

			{% include '_inc/flash.messages.html.twig' %}

			<table class="table table-dark">
				<tr>
					<th>Image</th>
					<th>Nom</th>
					<th>Description</th>
					<th>Continent</th>
					<th></th>
				</tr>
				{% for article in results %}
					<tr>
						<td class="w-25">
							<img src="{{ asset('img/' ~ article.image) }}" class="img-fluid" alt="">
						</td>
						<td>{{ article.name }}</td>
						<td>{{ article.description }}</td>
						<td>{{ article.continent.name}}</td>
						<td class="text-right">
							<a href="{{ url('admin.article.form.update', { id: article.id }) }}" class="btn btn-warning">UPDATE</a><BR>
							<a href="{{ url('admin.article.delete', { id: article.id }) }}" class="btn btn-danger">DELETE</a>
						</td>
					</tr>
					
				{% endfor %}
			</table>
		</div>
	</div>
{% endblock %}







